<title>Frontend Mentor | Multi-step form</title>
<div class="container">
<div class="card w-100 h-75">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      With supporting text below as a natural lead-in to additional content.
    </p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
</div>
<div class="attribution">
  Challenge by
  <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
    >Frontend Mentor</a
  >. Coded by
  <a href="https://github.com/NataliaPiorkowska">Natalia Piórkowska</a>.
</div>

<router-outlet />
