.custom-container {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323a49;
  text-align: -webkit-center;
  border-radius: 15px;
}

.text-neon {
  color: #52ffa8;
}

.text-advice {
  color: white;
}
