<div
  *ngIf="element.slip"
  class="container custom-container"
  style="background-color: #323a49"
>
  <div class="row align-items-start">
    <div class="col">
      <h1 class="text-neon fs-6 fw-bolder">ADVICE #{{ element.slip.id }}</h1>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
      <p class="text-advice fs-5 fw-bold">{{ element.slip.advice }}</p>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
  <picture class="text-center mb-5 pt-3 pb-4">
    <source srcset="../../../assets/images/pattern-divider-desktop.svg" media="(min-width: 900px)">
    <img class="w-100" src="../../../assets/images/pattern-divider-mobile.svg" alt="">
</picture>
</div>
</div>

</div>
